<div class="col-lg-4 col-12 pt-3 px-4 pr-lg-5 text-center" id="colorOnAbout">
        <h1 class="text-center"><%- item.title || theme.default_post_title || "Untitled" %></h1>
        <img class="personal-img mr-3" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>"
            alt="<%- item.title || theme.default_post_title || " Untitled" %>">
        <br />
        <a href="<%- config.root %><%- item.resume_pic %>" class="btn btn-outline-primary">Resume</a>
    </div>
    <div class="col-lg-8 col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 portfolio-content">
        <%- item.content %>

    </div>
</div>